MONGO_URI=mongodb+srv://utilisateur:motdepasse@cluster.mongodb.net/
NCBI_API_KEY=votre_cle_ncbi
NCBI_EMAIL=votre_email@exemple.com
OPENFDA_API_KEY=votre_cle_openfda
NEO4J_PASSWORD=votre_mot_de_passe_neo4j